# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [ 12 ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
    - run: |
        npm test
        ./node_modules/.bin/ts-node tests/fixtures/smoke-testing.ts
      env:
        CI: true
        WECHATY_PLUGIN_INTERCOM_TOKEN: dummy_intercom_token
        WECHATY_PLUGIN_INTERCOM_WEBHOOK_PROXY_URL: https://smee.io/your_smee_io_proxy_url
        WECHATY_PLUGIN_FRESHDESK_PORTAL_URL: https://juzibot.freshdesk.com/
        WECHATY_PLUGIN_FRESHDESK_API_KEY: dummy_freshdesk_key
        WECHATY_PLUGIN_FRESHDESK_WEBHOOK_PROXY_URL: https://smee.io/your_smee_io_proxy_url
        WECHATY_PLUGIN_QNAMAKER_ENDPOINT_KEY: dummy
        WECHATY_PLUGIN_QNAMAKER_KNOWLEDGE_BASE_ID: dummy
        WECHATY_PLUGIN_QNAMAKER_ENDPOINT_KEY: dummy

